.footer {
  &__container {
    height: 10%;
  }
  &__social {
    // background-color: greenyellow;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    margin: 0.5em;
    height: 2em;
    width: 2em;
    fill: $black;
    transition: 0.3s ease fill;
    &:hover {
      fill: $red;
    }
  }
}
