.header {
  &__container {
    height: 10%;
    padding: 2em 1em;
  }
  &__menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    &-item {
      list-style: none;
      padding: 1rem;
    }
    &-socialmedia {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-evenly;
    }
  }
  &__link {
    font-size: 0.75em;
    color: $black;
    text-decoration: none;
    transition: 0.3s ease color;
    &:hover {
      color: $red;
    }
  }
  &__img {
    width: 20em;
  }
}
