.main {
  &__container {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__intro {
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  &__img {
    width: 100%;
  }
}
